<div [ngClass]="{'active' : active, 'node-info' : true, 'btn-primary' : true, 'btn' : true }"
    (click)="onSelect($event)">
    <div>

        <!--todo: look in to https://stackoverflow.com/questions/35274028/stop-event-propagation-in-angular-2-->
    <span *ngIf="showChildren && node.children.length > 0"(click)="showChildren = !showChildren; $event.stopPropagation();">
       -
    </span>
    <span *ngIf="!showChildren && node.children.length > 0" (click)="showChildren = !showChildren; $event.stopPropagation();">
       +
    </span>
    
    <span [ngClass]="{'tree-node-name': true}">
        {{node.name}} 
    </span>
    <div class="permissions" *ngIf="node.aggregatePermissions">
        <div class="permission write" *ngIf="node.aggregatePermissions.canWriteAtAnyRelatedNode"> </div>  
        <div class="permission decrypt" *ngIf="node.aggregatePermissions.canDecryptAtAnyRelatedNode"> </div>
    </div>
    <span class="add-child-link btn btn-info" (click)="showAddChild = !showAddChild" *ngIf="node.aggregatePermissions && node.aggregatePermissions.canAddChildrenAtAnyRelatedNode"> 
        <span *ngIf="!showAddChild">
                Add Child {{nodeLabel}} 
        </span>
        <span *ngIf="showAddChild">
                Cancel
        </span>
    </span>
    </div>
        <div class="node-commands" *ngIf="showAddChild">  
         
            <input [(ngModel)]="childName" placeholder="Name" />
            <button class="add-child btn btn-info" [disabled]="!childName" (click)="addChild()">
                Add
            </button>
        </div>
</div>


<ul class="tree-node-list" *ngIf="showChildren">
     <li *ngFor="let childNode of node.children" class="tree-node-item">
        <app-tree-node [node]="childNode" [treeNodeService]="treeNodeService"></app-tree-node>
     </li>
 </ul>
