.node-info {
  margin-top: 5px;
  text-align: left;

  div.permissions {
    display: inline-block;
    padding: 5px 5px;
    margin-left: 15px;

    div.permission {
      display: inline-block;
      width: 15px;
      height: 15px;
      background-repeat: no-repeat;
    }
    .read {
      background-image: url(/assets/images/book.svg);
    }
    .write {
      background-image: url(/assets/images/edit.svg);
    }
    .decrypt {
      background-image: url(/assets/images/lock.svg);
    }
  }
  .add-child-link {
    cursor: button;
  }

  .node-commands {
    padding-top: 15px;
    padding-bottom: 5px;
    input {
      color: #000;
    }
    input, button {
      display: inline-block;
      padding: 4px;
      border: 0;
      margin-bottom: 2px;
      margin-left: 15px;
    }

    
  }
}
.active {
  background-color: rgb(10, 177, 174);
  display: inline-block;
}

ul.tree-node-list {
  list-style-type: none;
  padding-left: 12px;
  margin-top: 5px;

  li.tree-node-item {
    padding-left: 5px;
  }
}


