<div class="{'active' : active, node-info : true, btn-primary : true, btn : true }">
    <div>
    <span *ngIf="showChildren && node.children.length > 0"(click)="showChildren = !showChildren;">
       -
    </span>
    <span *ngIf="!showChildren && node.children.length > 0" (click)="showChildren = !showChildren;">
       +
    </span>
    <span [ngClass]="{'tree-node-name': true}" (click)="onSelect()">
        {{node.name}} 
    </span>
    <span class="add-child-link btn btn-info" (click)="showAddChild = !showAddChild"> 
        <span *ngIf="!showAddChild">
                Add Child {{nodeLabel}} 
        </span>
        <span *ngIf="showAddChild">
                Cancel
        </span>
    </span>
    </div>
        <div class="node-commands" *ngIf="showAddChild">  
         
            <input [(ngModel)]="childName" placeholder="Name" />
            <button class="add-child btn btn-info" [disabled]="!childName" (click)="addChild()">
                Add
            </button>
        </div>
</div>


<ul class="tree-node-list" *ngIf="showChildren">
     <li *ngFor="let childNode of node.children" class="tree-node-item">
        <app-tree-node [node]="childNode" [treeNodeService]="treeNodeService"></app-tree-node>
     </li>
 </ul>
