<div class="container">
  <div class="heading-selector">
      <div class="heading-app-env-selector">
        <app-application-list [applications]="applications" [isLoading]="appsLoading"></app-application-list>
        <app-environment-list [environments]="environments" [isLoading]="envsLoading"></app-environment-list>
      </div>
  </div>
  
  <app-settings-view *ngIf="selectedEnvironment && selectedApplication"
    [selectedApplication]="selectedApplication"
    [selectedEnvironment]="selectedEnvironment">
  </app-settings-view>

  <div class="setting-crud panel panel-primary" *ngIf="selectedEnvironment && selectedApplication && selectedAppEnvPermissions.canWriteAtAnyRelatedNode">
    <div class="panel-heading">Add - Edit Setting </div>
    <div class="panel-body">
      <app-crud-setting [selectedApplication]="selectedApplication"
             [selectedEnvironment]="selectedEnvironment"></app-crud-setting>
    </div>
  </div>
</div>
    
    
    
    
    