h1 {
    text-align: center;
    padding: 15px 0px;
  }
  
  div.heading-selector {
    display: inline-block;
  
    div.applications-list, div.environments-list, div.setting-crud {
      display: inline-block;
      height: 300px;
      width: 400px;
      overflow-y: auto;
    }
  
    div.setting-crud {
      width: 490px;
    }
  }
  
  div.panel-heading {
    text-align: center;
    font-weight: bold;
  }
  
  div.panel-body {
    padding-left: 5px;
    padding-top: 5px;
    height: 300px;
    overflow: scroll;
    ul.tree-node-list {
      list-style-type: none;
      padding-left: 12px;
      margin-top: 5px;
    }
  }

  div.tree-node-wrapper {
    overflow: scroll;
  }