span.tree-node-name {
  padding: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #337ab7;

  &:hover {
    background-color: #33addd;
  }
}

ul.tree-node-list {
  list-style-type: none;
  padding-left: 30px;
  margin-top: 5px;

  li.tree-node-item {
    padding-top: 10px;
    padding-left: 5px;
  }
}