<form *ngIf="editSettingModel">
  <div class="edit-name">
    <label for="name"> Name: </label>
    <input [(ngModel)]="editSettingModel.setting.name" id="name" name="name" />
  </div>

  <div class="edit-value">
    <label for="value"> Value: </label>
    <textarea id="value" [(ngModel)]="editSettingModel.setting.value" name="value"> </textarea>
  </div>

  <div class="edit-submit">
    <div *ngIf="message">
      <span class="message"> {{message}}</span>
    </div>
    <button (click)="addEdit()" class="btn btn-primary">
      Add/Edit
    </button>
  </div>
</form>
