span.message {
  color: #8b0000;
  display: inline-block;
}

input, textarea {
  width: 350px;
  border: 1px solid #000;
}

label {
  width: 50px;
}

div.edit-name, div.edit-value {
  padding-bottom: 10px;
}

button.btn {
  margin-top: 10px;
}
