.error {
    color: #EE0606
}

form {
    padding: 10px;
}

label {
    width: 75px;
}

div.login-field {
    padding: 5px;
}

div.panel {
    width: 300px;
    margin: auto;
}

div.error {
    text-align: center;
}

.btn {
    margin-top: 10px;
}