<div class="container">

  <h1>Settings</h1>
  <div class="heading-selector">
    <div class="applications-list panel panel-primary">
      <div class="panel-heading">Applications</div>
      <div class="panel-body">
        <tree-node [node]="rootApplication" [selectedNode]="selectedApplicationModel" *ngIf="rootApplication"></tree-node>
      </div>
    </div>
    <div class="environments-list panel panel-primary">
      <div class="panel-heading">Environments</div>
      <div class="panel-body">
        <tree-node [node]="rootEnvironment" [selectedNode]="selectedEnvironmentModel" *ngIf="rootEnvironment"></tree-node>
      </div>
    </div>

    <app-settings-view *ngIf="selectedEnvironmentModel.node && selectedApplicationModel.node"
                       [selectedApplication]="selectedApplicationModel.node"
                       [selectedEnvironment]="selectedEnvironmentModel.node"></app-settings-view>
    <app-crud-setting></app-crud-setting>

  </div>
</div>




