div.heading-selector {
  display: inline-block;

  div.applications-list, div.environments-list {
    display: inline-block; 
    height: 250px;
    width: 250px;
    overflow-y: auto;
  }
}

div.panel-heading {
  text-align: center;
}
