<div class="container">

  <h1>Settings</h1>

  <div *ngIf="!rootApplication || !rootEnvironment">
    Loading...
  </div>

  <div class="heading-selector" *ngIf="rootApplication && rootEnvironment">
    <div class="applications-list panel panel-primary">
      <div class="panel-heading">Applications</div>
      <div class="panel-body">
        <tree-node [node]="rootApplication" [treeNodeSelector]="applicationService"></tree-node>
      </div>
    </div>
    <div class="environments-list panel panel-primary">

      <div class="panel-heading">Environments</div>
      <div class="panel-body">
        <tree-node [node]="rootEnvironment" [treeNodeSelector]="environmentService"></tree-node>
      </div>
    </div>

    <!--
    <div class="setting-crud panel panel-primary" *ngIf="selectedEnvironmentModel.node && selectedApplicationModel.node">
      <div class="panel-heading">Add - Edit Setting </div>
      <div class="panel-body">
        <app-crud-setting [selectedApplicationModel]="selectedApplicationModel"
                          [selectedEnvironmentModel]="selectedEnvironmentModel"></app-crud-setting>
      </div>
    </div>


    <app-settings-view *ngIf="selectedEnvironmentModel.node && selectedApplicationModel.node"
                       [selectedApplication]="selectedApplicationModel.node"
                       [selectedEnvironment]="selectedEnvironmentModel.node"></app-settings-view>
  -->

  </div>
</div>




